html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS  65,5% = 10px de 16px**/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  background: radial-gradient(
    circle at center center,
    rgb(0, 194, 247),
    rgb(145, 152, 229)
  );
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */

h1 {
  font-size: 3.8rem;
  text-align: center;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}
h5 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin: 1rem;
  letter-spacing: .1rem;
}
button {
  cursor: pointer;
}
ul{list-style: none;}

.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    width: 70rem;
    height: 60rem;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 192, 192);
    border-radius: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;

    .top {
      position: sticky;
      top: 0;
      left: 0;
      background-color: rgb(212, 212, 212);
      margin-bottom: 1rem;
      padding: 1rem;
    }

    .left {
      width: 40%;
      height: 100%;
      background-color: rgb(212, 212, 212);
      overflow-y: scroll;

      .list_titles {
        padding: 1rem;
      }
    }
    .hide {
      margin: 0;
      padding: 0;
      width: 0;
    }
    .hide_menu{
      width: 100%;
      height: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button{
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        i{
          font-size: 2rem;
        }
        &:hover{
          background-color: rgb(223, 221, 221);;
          border-radius: 50%;
        }
      }
    }

    .right {
      width: 100%;
      height: 100%;
      background-color: rgb(223, 221, 221);
      padding: 0;
      overflow-Y:scroll;
      
      .to_do, .berger_menu{
        position: sticky;
        top: -2.5rem;
        left: 0;
        background-color: rgb(223, 221, 221);
      margin-bottom: 1rem;
      margin-top: 0;
      padding: 1rem;
      }
      .berger_menu{
        width: fit-content;
        z-index: 1;
        top: 0;
      }

      .list_items{
        padding: 1rem;
      }

      .show_menu {
        display: none;
      }
      .show_menu1 {
       width: 100px;
       height: 80px;
       background-color: rgb(42, 192, 28);
      }
      .show {
        display: initial;
        
      }
     

      .title{ 
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
        .main_title{
          text-transform: capitalize;
          padding: 1rem;
          height: 4rem;
          min-width: 8rem;
          font-size: 2rem;
          font-weight: 900;
          letter-spacing: .2rem;
          border: none;
          background-color: transparent;
        }
      }
      .ts{
        text-transform: capitalize;
        margin: .6rem .3rem;
        padding: .5rem;
        border-radius: 1rem;
        border: none;
        width: 75%;
        background-color: rgba(248, 248, 248, 0.246);
      }
      .line{
        color: rgba(124, 124, 125, 0.76);
        text-decoration-line: line-through;
        background-color: rgba(0, 255, 78, 0.09);
    
      }
      .block2{
        background-color: green;;
      }
      .delete{
        display: none;
        font-size: 6rem;
      }
    }
  }
}
